@using Microsoft.AspNetCore.Identity
@inject UserManager<SmileMate.Common.Entities.User> UserManager
@inject SignInManager<SmileMate.Common.Entities.User> SignInManager

@{
    var currentUserId = UserManager.GetUserId(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmileMate</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/wwwroot/css/site.css">
    <link rel="stylesheet" href="~/SmileMate.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header-wrapper">
                    <div class="header-logotype logotype">
                        <a asp-page="/Index" class="logotype-link">
                            <img src="/img/icon/logotype.svg" alt="logotype SmileMate" class="logotype-icon">
                        </a>
                    </div>
                    <div class="header-end">
                        <nav class="header-menu menu">
                            <ul class="menu-list">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
                                {
                                    <li class="menu-item menu-item--active">
                                        <a asp-page="/MedicalHistory" asp-route-patientid="@currentUserId" class="menu-link">История посещения</a>
                                    </li>
                                }
                                else if (User.Identity.IsAuthenticated && User.IsInRole("MedicalWorker"))
                                {
                                    <li class="menu-item menu-item--active">
                                        <a asp-page="/Patient" class="menu-link">Клиенты</a>
                                    </li>
                                    <li class="menu-item menu-item--active">
                                        <a asp-page="/Reception" class="menu-link">Приемы</a>
                                    </li>
                                }
                                else if (User.Identity.IsAuthenticated && User.IsInRole("Doctor"))
                                {
                                    <li class="menu-item menu-item--active">
                                        <a asp-page="/Patient" class="menu-link">Клиенты</a>
                                    </li>
                                    <li class="menu-item menu-item--active">
                                        <a asp-page="/DoctorPatient" class="menu-link">Мои приемы</a>
                                    </li>
                                }
                                else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li class="menu-item menu-item--active">
                                        <a asp-page="/Patient" class="menu-link">Клиенты</a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-page="/Doctor" class="menu-link">Врачи</a>
                                    </li>
                                    <li class="menu-item menu-item--active">
                                        <a asp-page="/Reception" class="menu-link">Приемы</a>
                                    </li>
                                }
                                else if(!User.Identity.IsAuthenticated)
                                {
                                    <li class="menu-item menu-item--active">
                                        <a>Навигационное меню</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <div class="header-account account">
                            <div class="dropdown">
                                <button data-path="one" class=" dropdown-toggle account-link">
                                    Аккаунт
                                    <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 0C18.1217 0 20.1566 0.842854 21.6569 2.34315C23.1571 3.84344 24 5.87827 24 8C24 10.1217 23.1571 12.1566 21.6569 13.6569C20.1566 15.1571 18.1217 16 16 16C13.8783 16 11.8434 15.1571 10.3431 13.6569C8.84285 12.1566 8 10.1217 8 8C8 5.87827 8.84285 3.84344 10.3431 2.34315C11.8434 0.842854 13.8783 0 16 0ZM16 20C24.84 20 32 23.58 32 28V32H0V28C0 23.58 7.16 20 16 20Z"/>
                                    </svg>
                                </button>
                                <ul data-target="one" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if(!User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <a class="dropdown-item" id="popup-auth">Авторизоваться</a>
                                        </li>
                                    }
                                    else if(User.Identity.IsAuthenticated && User.IsInRole("Doctor"))
                                    {
                                        <li><a class="dropdown-item" asp-page="/Profile">Профиль</a></li>
                                        <form method="post" asp-page="/Authorization" asp-page-handler="Logout">
                                            <button class="dropdown-item dropdown-item--exit">Выйти</button>
                                        </form>
                                    }
                                    else if (User.Identity.IsAuthenticated && User.IsInRole("MedicalWorker"))
                                    {
                                        <li><a class="dropdown-item" asp-page="/Profile">Профиль</a></li>
                                        <form method="post" asp-page="/Authorization" asp-page-handler="Logout">
                                            <button class="dropdown-item dropdown-item--exit">Выйти</button>
                                        </form>
                                    }
                                    else if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
                                    {
                                        <li><a class="dropdown-item" asp-page="/Profile">Профиль</a></li>
                                        <li>
                                            <form method="post" asp-page="/Authorization" asp-page-handler="Logout">
                                                <button class="dropdown-item dropdown-item--exit">Выйти</button>
                                            </form>
                                        </li>
                                    }
                                    else if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <li><a class="dropdown-item" asp-page="/Profile">Профиль</a></li>
                                        <li><a class="dropdown-item" id="popup-reg">Зарегистрировать</a></li>
                                        <form method="post" asp-page="/Authorization" asp-page-handler="Logout">
                                            <button class="dropdown-item dropdown-item--exit">Выйти</button>
                                        </form>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        <main role="main" class="main">
                @RenderBody()
        </main>
    
        <footer class="footer">
            <div class="container">
                <div class="footer-wrapper">
                    <p class="footer-license">
                        ООО «SmileMate», лицензия №ЛО-86-8681-01868686047
                    </p>
                    <!-- <p>&copy; 2024 - SmileMate - <a asp-area="" asp-page="/Privacy">Согласие на обрабоку персональных данных</a></p> -->
                    <span>&copy; 2024 - SmileMate - <a asp-area="" asp-page="/Privacy">Политика конфидециальности</a></span>
                </div>
            </div>
        </footer>

        <div id="popup-auth">
            <div class="popup" id="popup-auth-wp">
                <div class="popup-wrapper">
                    <h2 class="popup-title">Авторизация</h2>
                    <form id="auth-form" method="post" asp-page="/Authorization" asp-page-handler="Login" class="popup-form">
                        <label class="input-label">Логин</label>
                        <input required name="login" type="text" class="input-login popup-input form-input input" placeholder="Введите...">
                        <label class="input-label">Пароль</label>
                        <div class="password-wrapper">
                            <input required name="password" type="password" class="input-password popup-input form-input input" placeholder="Введите...">
                            <button type="button" class="toggle-password" onclick="togglePassword()">
                                <svg id="eye-icon" width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 4.5C10.2044 4.5 9.44129 4.81607 8.87868 5.37868C8.31607 5.94129 8 6.70435 8 7.5C8 8.29565 8.31607 9.05871 8.87868 9.62132C9.44129 10.1839 10.2044 10.5 11 10.5C11.7956 10.5 12.5587 10.1839 13.1213 9.62132C13.6839 9.05871 14 8.29565 14 7.5C14 6.70435 13.6839 5.94129 13.1213 5.37868C12.5587 4.81607 11.7956 4.5 11 4.5ZM11 12.5C9.67392 12.5 8.40215 11.9732 7.46447 11.0355C6.52678 10.0979 6 8.82608 6 7.5C6 6.17392 6.52678 4.90215 7.46447 3.96447C8.40215 3.02678 9.67392 2.5 11 2.5C12.3261 2.5 13.5979 3.02678 14.5355 3.96447C15.4732 4.90215 16 6.17392 16 7.5C16 8.82608 15.4732 10.0979 14.5355 11.0355C13.5979 11.9732 12.3261 12.5 11 12.5ZM11 0C6 0 1.73 3.11 0 7.5C1.73 11.89 6 15 11 15C16 15 20.27 11.89 22 7.5C20.27 3.11 16 0 11 0Z"/>
                                </svg>
                            </button>
                        </div>
                        @* <input required name="password" type="password" class="input-password popup-input form-input input" placeholder="Введите..."> *@
                        <div id="auth-error" class="text-danger"></div>
                        <button type="submit" class="popup-btn main-btn">Авторизоваться</button>
                    </form>
                </div>
            </div>
        </div>


        @* <div id="popup-auth">
            <div class="popup" id="popup-auth-wp">
                <div class="popup-wrapper">
                    <h2 class="popup-title">Авторизация</h2>
                    <form method="post" asp-page="/Authorization" asp-page-handler="Login" class="popup-form">
                        <label class="input-label">Логин</label>
                        <input required name="login" type="text" class="input-login popup-input form-input input" placeholder="Введите...">
                        <label class="input-label">Пароль</label>
                        <input required name="password" type="text" class="input-password popup-input form-input input" placeholder="Введите...">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="popup-btn main-btn">Авторизоваться</button>
                    </form>
                </div>
            </div>
        </div> *@

        <div id="popup-reg">
            <div class="popup" id="popup-reg-wp">
                <div class="popup-wrapper">
                    <h2 class="popup-title">Регистрация</h2>
                    <form method="post" id="registrationForm" asp-page="/Authorization" asp-page-handler="Registration" class="popup-form">
                        <label class="input-label">Роль</label>
                        <div class="popup-radio">
                            <label class="popup-radio--item">
                                <input value="doctor" type="radio" name="rb" id="popup-doctor" onclick="text(0)">
                                <span class="popup-radio--name popup-radio-doctor">Доктор</span>
                            </label>
                            <label class="popup-radio--item">
                                <input value="medicalworker" type="radio" name="rb" id="popup-medreg" onclick="text(1)">
                                <span class="popup-radio--name popup-radio-medreg">Мед.Регистратор</span>
                            </label>
                        </div>
        
                        <label class="input-label">Логин</label>
                        <input required name="login" type="text" class="input-login popup-input form-input input" placeholder="Введите...">
                        <label class="input-label">Пароль</label>
                        <input required name="password" type="password" class="input-password popup-input form-input input" placeholder="Введите...">
        
                        <div class="inputBlock" id="inputBlock">
                            <label class="input-label">Фамилия</label>
                            <input name="surname" type="text" class="input-login popup-input form-input input" placeholder="Введите...">
                            <label class="input-label">Имя</label>
                            <input name="name" type="text" class="input-login popup-input form-input input" placeholder="Введите...">
                            <label class="input-label">Отчество</label>
                            <input name="patronymic" type="text" class="input-login popup-input form-input input" placeholder="Введите...">
                        </div>
                        <span id="error-message-reg">Пожалуйста, выберите роль.</span>
                        <button id="submitBtn" class="popup-btn main-btn">Зарегистрировать</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="/js/swiper.js" asp-append-version="true"></script>
        <script src="/fslightbox.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="/js/dropdown.js" asp-append-version="true"></script>
        <script src="/js/popup.js" asp-append-version="true"></script>
        <script src="/js/lock.js" asp-append-version="true"></script>
        <script src="js/jquery.maskedinput.min.js"></script>
        <script src="js/validation.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>