@page
@model IndexModel
@{
    ViewData["Title"] = "SmileMate - Главная страница";
}



<section class="index">
    <h1 class="index-title main-title">Добро пожаловать!</h1>
    @if(!User.Identity.IsAuthenticated){
        <p class="index-subtitle second-title">Необходимо авторизоваться.</p>
    }
</section>
