@page
@model PatientModel
@{
    ViewData["Title"] = "SmileMate - Клиенты";
}


<section class="client">
        <div class="container">
            <div class="client-wrapper">
                <h1 class="client-title main-title">Клиенты</h1>
                <div class="client-instrument instrument">
                    <form action="#" class="instrument-search search">
                        <div class="search-wrapper">
                            <input type="text" class="instrument-search--input search-input" placeholder="Поиск...">
                            <button class="instrument-search--btn">
                                <img class="instrument-search--icon" src="/img/icon/search.svg">
                            </button>
                        </div>
                    </form>
                    <div class="instrument-border"></div>
                    <a asp-page="/PatientCreate" class="instrument-btn main-btn">Зарегистрировать</a>
                </div>
                <div class="client-table table">
                    <table class="client-table--wrapper table-wrapper">
                        <thead>
                            <tr>
                                <th>Фамилия</th>
                                <th>Имя</th>
                                <th>Отчество</th>
                                <th>Возраст</th>
                                <th>Номер телефона</th>
                                <th></th>
                                <th>Действие</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Тихонов</td>
                                <td>Сергей</td>
                                <td>Денисович</td>
                                <td>22</td>
                                <td>89535507494</td>
                                <td>
                                    <a asp-page="/ReceptionCreate" class="table-btn table-btn--reg second-btn">Записать</a>
                                </td>
                                <td>
                                    <a asp-page="/PatientDetails" class="table-btn table-btn--info second-btn">Подробности</a>
                                </td>
                                <td>
                                    <a asp-page="/MedicalHistory" class="table-btn table-btn--history second-btn">История посещения</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>