@page
@model Profile
@{
    ViewData["Title"] = "SmileMate - Профиль";
}

<section class="profile">
    <div class="container">
        <div class="profile-wrapper">
            <h2 class="profile-title">Профиль</h2>
            <div class="profile-content">
                <div class="profile-left">
                <form method="post"class="profile-form">
                    <label class="input-label">Логин</label>
                    <input type="text" readonly class="input-login profile-input form-input input" placeholder="@Model.CurrentUser.UserName">
                    <label class="input-label">Пароль</label>
                    <input name="newpassword" type="password" class="input-password profile-input form-input input" placeholder="Пароль">
                    <div class="profile-btn-wrapper">
                        <button type="submit" class="profile-btn profile-btn--left second-btn">Изменить пароль</button>
                    </div>
                </form>
                </div>
                <div class="profile-rigth">
                    @* @if(User.Identity.IsAuthenticated && User.IsInRole("Client")){
                        <a asp-page="/MedicalHistory" class="profile-btn profile-history--btn main-btn">История посещений</a>
                    } *@

                    <form method="post" asp-page="/Authorization" asp-page-handler="Logout">
                        <button type="submit" class="profile-btn profile-btn--exit second-btn">Выйти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>