@page
@model Profile
@{
    ViewData["Title"] = "SmileMate - Профиль";
}

<section class="profile">
    <div class="container">
        <div class="profile-wrapper">
            <h2 class="profile-title">Профиль</h2>
            <div class="profile-content">
                <div class="profile-left">
                <form class="profile-form">
                    <label class="input-label">Логин</label>
                    <input type="text" readonly class="input-login profile-input form-input input" placeholder="sep.play02@mail.ru">
                    <label class="input-label">Пароль</label>
                    <input type="password" readonly class="input-password profile-input form-input input" placeholder="Пароль">
                    <div class="profile-btn-wrapper">
                        <a class="profile-btn profile-btn--left second-btn">Изменить пароль</a>
                        <a class="profile-btn profile-btn--left second-btn">Выйти</a>
                    </div>
                </form>
                </div>
                <div class="profile-rigth">
                    <a asp-page="/MedicalHistory" class="profile-btn main-btn">История посещений</a>
                </div>
            </div>
        </div>
    </div>
</section>